@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <a href="/Students/Index" class="btn btn-success"> All</a>
            <a href="/Students/GetAll" class="btn btn-success"> Get One</a>
            <a href="/Students/Create" class="btn btn-success"> Create</a>
            <a href="/Students/Update" class="btn btn-success"> Update</a>
            <a href="/Students/Delete" class="btn btn-success"> Delete</a>
        </nav>
    </header>

    <main class="container mt-4">
        <section class="content">
            <h1>Get All Employees</h1>
        </section>
    </main>

    <footer class="bg-secondary text-white text-center py-3 mt-4">
        This is the footer
    </footer>
</body>
</html>
